.products--list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
  }
  
  .product--card {
    width: 175px;
    margin-bottom:20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
    padding: 13px;
    background-color: white;
  }
  
  
  /* ADD */
  .product--price {
    margin-top: auto;
  }